﻿body {
    padding: 5px;
    
}
.cardFelso {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    min-height: 48vh;
    /*height: 50vh;*/
    max-height: 75vh;
    
    overflow: hidden;
}


    .cardFelso:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.cardAlso {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    min-height: 48vh;
    overflow: hidden;
}


    .cardAlso:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.container {
    padding: 2px 16px;
    
}

table {
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.crypto-navbar{

    background-color: darkgrey;
    height: 7vh;
    border-radius: 10px;
    margin-bottom: 2vh;
    animation-name: navbaranimation;
    animation-duration: 0.4s;
  
}
cryptonavbartitle {
    font-family: 'Times New Roman';
    text-align: center;
    font-size: 40px;
    animation-name: cryptotextanimation;
    animation-duration: 0.5s;
}

@keyframes cryptotextanimation {
    0%   {visibility:hidden;}
    25%   {visibility:hidden;}
    50%   {visibility:hidden;}
    75%   {visibility:hidden;}
    100% {visibility:visible;}
}
@keyframes navbaranimation {
    0%   {height: 0vh;}
    25%   {height: 1.5vh;}
    50%   {height: 3vh;}
    75%   {height: 4.5vh;}
    100%   {height: 7vh;}
}

.megjelenito {
    position: fixed;
    bottom: 0;
    width: 60%;
    left: 0;
    z-index: 1;
    
}


/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: center;
}

.alertmegjelen {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtnmegjelen {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    .closebtnmegjelen:hover {
        color: black;
    }