﻿
@{
    Layout = null;

    CryptoTrader2018osziFelev.Models.Interfaces.IHistory model = (CryptoTrader2018osziFelev.Models.History)Model;

    List<CryptoTrader2018osziFelev.Models.Interfaces.IOneHistory> purchaseList = new List<CryptoTrader2018osziFelev.Models.Interfaces.IOneHistory>();
    List<CryptoTrader2018osziFelev.Models.Interfaces.IOneHistory> sellList = new List<CryptoTrader2018osziFelev.Models.Interfaces.IOneHistory>();

    foreach (var item in model.Histories)
    {
        if (item.Type == "Purchase")
        {
            purchaseList.Add(item);
        }
        else
        {
            sellList.Add(item);
        }
    }

}

<div class="container">
    <h2>My History</h2>
    <table class="table table-hover MyHistory">
        <tbody>
            @{
                foreach (var item in purchaseList)
                {
                    <tr>
                        <td>@item.CreatedAt</td>
                        <td>@item.Symbol</td>
                        <td>@item.Amount</td>
                    </tr>
                }

                foreach (var item in sellList)
                {
                    <tr>
                        <td>@item.CreatedAt</td>
                        <td>@item.Symbol</td>
                        <td>@item.Amount</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>