﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/cryptotrader.css" />
    <script src="~/js/cryptotraderJS.js"></script>
    <link rel="stylesheet" href="~/css/zmakbencecss.css" />
    <script src="~/js/zmakbencejs.js"></script>
</head>

<body>

    <div id="loader">    </div>
    <div id="info" class="megjelenito"> </div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <div class="crypto-navbar">
            <cryptonavbartitle>CryptoTrader</cryptonavbartitle>

        </div>


        <table>


            <tr>
                <td style="width:50%">
                    <div class="cardFelso">

                        <div class="container" name="cryptochart" id="cryptochart">


                        </div>
                    </div>
                </td>
                <td style="width:50%">
                    <div class="cardFelso">

                        <div class="container" name="cryptosellbuy" id="cryptosellbuy">
                            <input type="text" value="BTC" name="symbol" id="symbol" />
                            <br />
                            <input type="number" name="amount" id="amount" />
                            <br />
                            <button value="Buy" onclick=" MegjelenitFeljovoablak('Kérem várjon, feldolgozás folyamatban...');  document.getElementById('loader').style.display = 'inherit'; PurchaseAjax(document.getElementById('symbol').value, document.getElementById('amount').value);  /*setTimeout(function () { showPage(); }, 7000);*/">Buy</button>
                            <br />
                            <button value="Sell" onclick="MegjelenitFeljovoablak('Kérem várjon, feldolgozás folyamatban...'); document.getElementById('loader').style.display = 'inherit';  SellAjax(document.getElementById('symbol').value, document.getElementById('amount').value);/*setTimeout(function () { showPage(); }, 7000);*/">Sell</button>

                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:50%">
                    <div class="cardAlso">

                        <div class="container" name="cryptohistory" id="cryptohistory">


                        </div>
                    </div>
                </td>
                <td style="width:50%">
                    <div class="cardAlso">

                        <div class="container" name="cryptobalance" id="cryptobalance">


                        </div>
                    </div>
                </td>
            </tr>
        </table>


    </div>
</body>
</html>

